# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Tkinter specific
*.tcl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.nox/
coverage.xml
nosetests.xml
coverage/

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.pytest_cache/
.cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Matplotlib
*.matplotlib

# MacOS specific
.DS_Store
